[package]
name = "task-maker-exec"
version = "0.6.2"
authors = ["Edoardo Morassutto <edoardo.morassutto@gmail.com>"]
edition = "2021"

[dependencies]
task-maker-dag = { path = "../task-maker-dag" }
task-maker-store = { path = "../task-maker-store" }
task-maker-cache = { path = "../task-maker-cache" }

# Generic error utilities
anyhow = { version = "1.0", features = ["backtrace"] }
thiserror = "1.0"
# Serialization/Deserialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.1"
# Logging
log = "0.4"
# UUID generation
uuid = { version = "1.1", features = ["v4", "fast-rng", "serde"] }
# Temporary directory for sandboxes and FIFO directory
tempfile = "3.3"
# Resolve executable names in $PATH
which = "4.2"
# General iterator utilities
itertools = "0.10"
# defer! macro
scopeguard = "1.0"
# Sandbox
tabox = "1"
# For killing processes and making FIFOs
nix = "0.26"
# In-memory and remote channels
ductile = "0.3"
# Key Derivation Function from a password
blake3 = "1.3"
# Typescript definition generation
typescript-definitions = { git = "https://github.com/onelson/typescript-definitions", branch = "no-debug-attrs"}
crossbeam-channel = "0.5.6"

[dev-dependencies]
pretty_assertions = "1.2"
env_logger = "0.10"
