name: Docs

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Deps
        run: |
          sudo apt update
          sudo apt install -yy libseccomp-dev build-essential
      - uses: dtolnay/rust-toolchain@stable
      - name: cargo doc
        run: cargo doc --color=always --no-deps --all
      - name: Make index.html
        run: |
          echo '<meta http-equiv="Refresh" content="0; url=./task_maker/index.html">' > target/doc/index.html
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          branch: gh-pages
          folder: target/doc
