name: Rust

on: [push, pull_request]

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Install Deps
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -yy libseccomp-dev libssl-dev build-essential fpc

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: install-rust

      - uses: taiki-e/install-action@nextest

      - name: cargo nextest run (tests)
        env:
          RUST_BACKTRACE: 1
        run: cargo nextest run --workspace --no-fail-fast

  clippy:
    name: Clippy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - name: Install Deps
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -yy libseccomp-dev libssl-dev build-essential fpc

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: install-rust

      - name: cargo clippy
        run: tools/clippy.sh

  rustfmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: install-rust
        with:
          components: rustfmt

      - name: cargo fmt
        run: cargo fmt --all -- --check
